

.zero {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 5px 0 0 orangered, -5px 0 0 deepskyblue;
    color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-weight: bold;
}

.parent {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.parent div {
    background-color: tomato;
    padding: 5px;
    color: white;
    height: 20px;
    width: calc(90% / 3);
    text-align: center;
}

.parent2 {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: space-between;

}

.parent2 div {
    background-color: slategray;
    padding: 10px;
    color: white;
    text-align: center;
    width: calc(85% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.one {
    order: 5;
    align-self: flex-end;
}

.two {
    order: 4;

}

.three {
    order: 1;
    align-self: flex-start;
}

.four {
    order: 2;

}

.five {
    order: 3;
}

.six {
    order: -1;
}