
body {
    position: relative;
}

.rec {
    width: 300px;
    height: 200px;
    margin: 40px auto;
    background-color: #eeeeee;
    color: #03a9f4;
    font-family: serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 2px solid #cccccc;
    position: relative;
}

.rec::before {
    content: "";
    width: 300px;
    height: 200px;
    background-color: #03a9f4;
    transform: rotate(-5deg) scale(1.05);
    position: absolute;
    z-index: -1;
}

.rec::after {
    content: "";
    width: 300px;
    height: 200px;
    background-color: #e91e63;
    transform: rotate(5deg) scale(1.05);
    position: absolute;
    z-index: -2;
}

.z {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%) ;
}

.z::before {
    content: "";
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border-top: 10px solid #2196f3;
    border-right: 10px solid white;
    border-bottom: 10px solid #2196f3;
    border-left: 10px solid #2196f3;
    position: absolute;
    transition: 0.5s 0.5s;
}

.z::after {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid #e91e63;
    border-right: 10px solid #e91e63;
    border-bottom: 10px solid #e91e63;
    border-left: 10px solid white;
    position: absolute;
    transition: 0.5s;
}


.z:hover::after,
.z:hover::before{
    transform: rotate(1turn);
}